body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;  /* Allow vertical scroll but hide horizontal overflow */
  background: rgba(254, 234, 164);
  cursor: url("../images/soupcursor.png"), auto;
}

button {
  background-color: rgba(254,234,164);
  color: rgba(0,0,0);
  box-shadow: 1.5px 1px 6px black;
  border-radius: 6px
}

.trollbutton:hover {
  background-color: rgba(197, 178, 111);
  color: white;
}

.trollbutton {
  position: relative;
  top: -35;
  left: 580;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; 
  height: 100vh;
  z-index: -1;
  background-image: url("../images/EZZE Design Image.png");
  background-size: cover;
}

header {
  position: relative;
  padding: 28px;
}

header nav {
  margin-top: 15px;
  align-items: center;
}

nav a {
  padding: 15px;
}

#logo {
  display: block;
  margin: 0 auto;
  position: relative;
  top: 10px;
  right: 350px;
}

.woodcontainer {
position: relative;
display: block;
margin:0 auto;
width: 853px;
height: 768px;
background-image: url(../images/Wood.png)


}
/* Media Queries for smaller screens */

@media only screen and (max-width: 768px) {
  header {
    text-align: center;
  }
}